body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
    background-image: url(angebackround.jpg);
    text-align: center;  
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff88;
    color: rgba(214, 44, 186, 0.74);
    box-shadow: 0 0 15px 5px #000;
}


.header {
    margin-top: 20px;
}

.header h1, .header h2 {
    font-size: 3rem;  
    margin: 0;
    font-weight: 700; 
    color: rgba(214, 44, 186, 0.74);
}

.content {
    display: flex;
    justify-content: center;  
    margin-top: 30px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

.profile-container {
    width: 10px; 
    height: 10px; 
    border: 3px solid #fff; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.profile-pic {
    width: 10%; 
    height: 200px; 
}

.profile-image {
    width: 150px;  
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.profile-icon {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    color: rgb(33, 150, 243);
}
.right{ 
    flex: 2;
    padding: 20px;
}

.personal-info p {
    font-size: 2rem;  
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.808);
}
.about, .experience-skills {
    margin-top: 20px;
}

h3 {
    font-size: 3rem;  
    margin-bottom: 10px;
    font-weight: 500; 
    color: rgba(214, 44, 186, 0.74);
}
ul {
    font-size: 2rem;  
    font-weight: 400; /
    
}

.next-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 2rem;  
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .content {
        flex-direction: column;
    }

    .right {
        padding: 10px;
    }
}
